Repository openxrlab/xrfeitoria: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-unreal-plugin, run-test

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            src/XRFeitoriaUnreal/.* build-unreal-plugin true
            src/.* run-test true
            xrfeitoria/.* run-test true
            tests/.* run-test true

update
  .circleci/continue_config.yml
Due: none

-- testing --
  .circleci/continue_config.yml
Due: none

test
  .circleci/continue_config.yml
Due: none

-- test end --
  .circleci/continue_config.yml
Due: none

add comments
  .circleci/config.yml
Due: none

chore: Update persist_to_workspace root path in continue_config.yml
  .circleci/continue_config.yml
Due: none

Update: bug fix & add version tag action
  .circleci/continue_config.yml
  .github/workflows/lint.yml
  .github/workflows/publish-to-pypi.yml
  .github/workflows/release.yml
  .github/workflows/unreal.yml
  xrfeitoria/__init__.py
  xrfeitoria/utils/plugin_infos.json
  xrfeitoria/utils/runner.py
Due: run-test

pre-commit
  .github/workflows/release.yml
  xrfeitoria/utils/plugin_infos.json
Due: run-test

Test (#6)
  .github/workflows/release.yml
Due: none

update CLI of publish plugin
  .circleci/continue_config.yml
  .github/workflows/release.yml
  README.md
  docs/en/faq.rst
  xrfeitoria/utils/publish_plugins.py
Due: run-test

fix
  .circleci/circleci_api.py
  .github/workflows/release.yml
  circleci/config.yml
  circleci/continue_config.yml
Due: none

fix
  .github/workflows/release.yml
Due: none

Update version to v0.6.3
  src/XRFeitoriaBpy/__init__.py
  src/XRFeitoriaUnreal/XRFeitoriaUnreal.uplugin
Due: build-unreal-plugin, run-test

Test (#8)
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/release.yml
  src/XRFeitoriaUnreal/XRFeitoriaUnreal.uplugin
  xrfeitoria/utils/plugin_infos.json
  xrfeitoria/utils/publish_plugins.py
  xrfeitoria/utils/runner.py
Due: build-unreal-plugin, run-test

chore: Update continue_config.yml to disable default build and test parameters
  .circleci/continue_config.yml
Due: none

update
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

condition
  .circleci/continue_config.yml
  xrfeitoria/utils/plugin_infos.json
Due: run-test

chore: Update main.py to include dev flag in init_test function call
  tests/blender/main.py
Due: run-test

---- tmp ----
  .circleci/continue_config.yml
  src/XRFeitoriaBpy/__init__.py
  src/XRFeitoriaUnreal/XRFeitoriaUnreal.uplugin
Due: build-unreal-plugin, run-test

fix
  .circleci/continue_config.yml
Due: none

test
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/release.yml
Due: none

fix
  .circleci/config.yml
Due: none

fix
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

chore: Update GitHub Release CLI to version v0.16.2
  .circleci/continue_config.yml
Due: none

Test another (#9)
  .circleci/continue_config.yml
  src/XRFeitoriaBpy/__init__.py
  src/XRFeitoriaUnreal/XRFeitoriaUnreal.uplugin
  xrfeitoria/utils/plugin_infos.json
Due: build-unreal-plugin, run-test
